body {
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  background-color: #efefef;
}

.bg-blue {
  background-color: #3498db;
}

.content {
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
  min-height: calc(100vh - 2rem);
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
  border-radius: 0.5rem;
}

.header {
  padding-bottom: 1.15rem;
  background-color: #ffffff;
  color: rgba(52, 152, 219, 1.0);
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid rgba(52, 152, 219, 1.0)
}

.header-logo {
  width: 160px;
  text-align: center;
}

.header-logo img.bg-shadow {
  border-radius: 50%;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
}

.header-logo img {
  width: 120px;
}

.header-content {
  width: calc(100% - 180px);
  margin-left: 2rem;
  text-align: center;
}

.header-content h3 {
  font-size: 1.25rem;
  color: rgba(52, 152, 219, 1.0);
}

.header-content span {
  font-size: 0.85rem;
  letter-spacing: 0.03em;
}

.header-content__title {
  width: calc(100% - 200px);
}

.section {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 1.25rem 2.25rem;
  background-color: #ffffff;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.25);
}

.section-content {
  position: relative;
}

.section::before {
  content: "";
  height: 15rem;
  width: 15rem;
  position: absolute;
  top: -5rem;
  left: -5rem;
  border-radius: 50%;
  border: 2.15rem solid rgba(0, 0, 0, 0.1)
}

.section::after {
  content: "";
  height: 10rem;
  width: 10rem;
  position: absolute;
  top: 4rem;
  left: -4rem;
  border-radius: 50%;
  border: 2.5rem solid rgba(255, 255, 255, 0.15)
}

.section table thead > tr > th {
  color: #7f8c8d;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.section table tbody > tr > td {
  padding: 1.25rem 1rem;
}

.section-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1.15rem;
  position: relative;
  z-index: 99;
}

.section-header__info {
  width: 100%;
}

.section-header__info h3 {
  font-size: 2.25rem;
}

.section-header__info span {
  margin-bottom: 0.75rem;
}

.section-header__info h5 {
  font-weight: 700;
  font-size: 1.5rem;
}

.font-weight-bold {
  font-weight: 700;
}

.list-items {
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem 0.25rem;
  border-top: 1px solid #ffffff;
}

.list-items:first-child {
  border-top: 0;
}

.list-items:last-child {
  padding-bottom: 0;;
}

.list-items__label {
  width: 70%;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-items__value {
  font-weight: 700;
  text-align: right;
  font-size: 1.5rem;
  width: 30%;
  margin-bottom: 0;
}

.icon {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  padding: 0.75rem;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.icon img {
  width: 100%;
  height: 100%;
}

.text-yellow {
  color: #e67e22;
}

.text-green {
  color: #1abc9c;
}

.text-red {
  color: #e74c3c;
}

.text-blue {
  color: #2980b9;
}

.bg-red {
  background-color: #e74c3c;
  color: #ffffff;
}

.bg-blue {
  background-color: #3498db;
  color: #ffffff;
}

.bg-green {
  background-color:#1abc9c;
  color: #ffffff;
}

.bg-dark-green {
  background-color:#16a085;
  color: #ffffff;
}

.bg-purple {
  background-color: #9b59b6;
  color: #ffffff;
}

.bg-yellow {
  background-color: #f39c12;
  color: #ffffff;
}

.box {
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #4d4d4d;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
}

.box .icon {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  padding: 0.75rem;
  margin-right: 0;
  border: 2px solid #95a5a6;
}

.box .icon img {
  width: 100%;
  height: 100%;
}

.box-icon {
  display: flex;
  justify-content: center;
}

.box-count {
  padding: 0.75rem 1rem;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.box-label {
  font-size: 1rem;
  letter-spacing: 0.03em;
}

.br-red {
  border-color: #e74c3c !important;
}

.br-blue {
  border-color: #3498db !important;
}

.br-green {
  border-color:#1abc9c !important;
}

.br-dark-green {
  border-color:#16a085 !important;
}

.br-purple {
  border-color: #9b59b6 !important;
}

.br-yellow {
  border-color: #f39c12 !important;
}


/* Sidebar */
.sidebar {
  width: 20%;
}


.sidebar .nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  padding: .75rem 1.15rem;
  letter-spacing: 0.03em;
  color: #34495e;
  border-left: 3px solid transparent;
  border-radius: 0;
  margin-bottom: 0.25rem;
}

.sidebar .nav-link .nav-icon {
  opacity: 0;
}

.sidebar .nav-link.active {
  background-color: #ffffff;
  border-left: 3px solid #3498db;
  color: #3498db;
  transition: all 0.3s ease;
}

.sidebar .nav-link.active .nav-icon {
  opacity: 1;
}

.sidebar-title {
  padding: 0 1.15rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.list-menu {
  cursor: pointer;
  padding: 1.25rem 1rem;
  margin-bottom: 0.75rem;  
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.list-menu:hover{
  transition: all 0.3s ease;
  box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.25);
}

.content-detail {
  width: calc(100% - 20% + 2rem);
}

.content-detail__title {
  font-size: 0.85rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.content-detail__title b {
  margin-left: 0.5rem;
}

.content-detail__header {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.content-detail__meta {
  padding: 0.25rem 0.75rem;
  font-style: italic;
  font-size: 0.85rem;
}

.content-detail__meta:first-child {
  padding-left: 0;
}

.tab-content {
  width: 80%;
}

.tab-content .table-customize {
  height: 30rem;
  overflow: auto;
  padding-bottom: 2rem;
}

.tab-content table thead tr th {
  font-weight: 500;
}

.badge-md {
  font-size: 0.65rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.badge.bg-success-alt {
  background-color: #cbebcd !important;
  color: #5cc163 !important;
}

.badge.bg-danger-alt {
  background-color: #f18f8e !important;
  color: #cc1c1a !important;
}

.badge.bg-warning-alt {
  background-color: #fed69b !important;
  color: #fd9903 !important;
}
.badge.bg-primary-alt {
  background-color: #99c1ff !important;
  color: #0065ff;
}

$primary: $blue !default;
$secondary: $gray-300 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;